@import url("https://fonts.googleapis.com/css2?family=Chela+One&family=Poiret+One&display=swap");

body {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #473472;
}

#pet-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 70px;
}

.subtitle {
  color: #ffffff;
  font-size: 30px;
}

.cards,
.attack-cards {
  display: flex;
  gap: 10px;
}

.mokepon-cards {
  width: 150px;
  height: 100px;
  background: #53629e;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.mokepon-cards img {
  width: 80px;
}

#pet-button {
  margin: 20px 0px 0px 0px;
  width: 120px;
  height: 45px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #d6f4ed;
  color: #ffff;
  font-family: "Poiret One", sans-serif;
}

input {
  display: none;
}

input:checked + label {
  background-color: #87bac3;
  color: #000;
}

#attack-selection {
  flex-direction: column;
  align-items: center;
}

.attack-buttons {
  background-color: #53629e;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  width: 140px;
  font-family: "Poiret One", sans-serif;
  font-size: 15px;
  color: #ffffff;
}

#messages {
  width: 200px;
  background-color: #87bac3;
  height: 90px;
  padding: 10px 10px 10px 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#reboot-button {
  border: transparent;
  background-color: #53629e;
  border-radius: 20px;
  height: 30px;
  width: 60px;
  color: #ffffff;
  font-family: "Poiret One", sans-serif;
  box-sizing: border-box;
}

#result {
  margin-top: 5px;
  margin-bottom: 6px;
}

.attacks {
  display: grid;
  grid-template-columns: 100px 100px;
  text-align: center;
  color: #ffffff;
}

#player-lives,
#enemy-lives {
  font-size: 32px;
  margin-bottom: 10px;
}

.player-column,
.enemy-column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 360px) {
  .cards,
  .attack-cards {
    flex-direction: column;
    gap: 10px;
  }
}
